@using Domain.EntityModels;
@using Microsoft.JSInterop;
@using Newtonsoft.Json;
@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<Notes>
@addTagHelper *, ReflectionIT.Mvc.Paging
@inject IJSRuntime JS

<nav class="pagination">
	<vc:pager paging-list="@Model"/>
</nav>

<div class="container p-3">

		<div class="col-12 text-end">
			<a asp-controller="Notes" asp-action="Create" asp-route-listName="@ViewBag.listName" class="btn btn-primary" style="width:150px">
				<i class="bi bi-plus-square"></i> &nbsp; Create Note
			</a>
		</div>
	<ol class="hr" start="@ViewBag.listCount">
		@{
			int counter = 1;
		}
		@foreach (var obj in Model)
		{
			<div id="li">
			<div class="container p-6">
					<li>
					<input asp-for="@obj.Id" hidden />
					<input asp-for="@obj.Timestamp" hidden />
					<div class="grid">
						<div class="segments" on="checkElement('@obj.isChecked', 'isChecked@(counter)')">
							<div class="segment">
								<form method="post" >
									<button asp-for=@obj.isChecked name="check" id="myCheckBox"
									type="submit" asp-action="Check" formmethod="post" asp-route-id="@obj.Id" value="v">
									<i id="CBisChecked@(counter)" ></i>
								</button>
								
									<span class="segment" id="isChecked@(counter++)">@obj.Note</span>
								</form>
							</div>
							<div class="segment" id="date">
							@obj.Date.ToShortDateString()
							</div>
						<div class="segmentbtn">
							<form method="post" >
							<button type="submit" asp-action="Delete" formmethod="post" asp-route-id="@obj.Id"
								asp-route-listName="@ViewBag.listName" class="btn btn-delete mx-2" style="width:100px">
									Delete
								</button>

								<a  asp-action="Edit" asp-route-id="@obj.Id"
									asp-route-listName="@ViewBag.listName" class="btn btn-edit mx-2" style="width:100px">
									Edit
								</a>

								<button type="submit" asp-action="Archive" formmethod="post" asp-route-id="@obj.Id"
									asp-route-listName="@ViewBag.listName" class="btn btn-archive mx-2" style="width:100px">
									Archive
								</button>
							</form>
						</div>
						</div>
					</div>
				<script >				
						//checkElement('@obj.isChecked', 'isChecked@(counter-1)');
						
							if ('@obj.isChecked' == "True") {
								document.getElementById('isChecked@(counter - 1)').classList.add("checked");
						document.getElementById('CBisChecked@(counter - 1)').className = "bi bi-toggle2-on";
							}
							else {
								document.getElementById('isChecked@(counter - 1)').classList.remove("checked");
								document.getElementById('CBisChecked@(counter - 1)').className = "bi bi-toggle2-off";
							}				
					</script>
					</li>
	</div>
	</div>
		}
	</ol>
</div>

<nav class="pagination">
	<vc:pager paging-list="@Model" />
</nav>